@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.button-wrapper {
  width: 100%;
  @include flexCenter;
  margin-top: 5rem;
}
.button {
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: translateY(-0.5rem);
  }
  &__watchNow {
    background-color: rgb(255, 0, 0);
    box-shadow: $shadow-glow;
  }
}
