@use "../../styles/variables" as *;
@use "../../styles//mixins" as *;

.homepage-backdrop {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bg-black-overlay;
  }
}

.nextImage {
  opacity: 0;
}

.fadeIn,
.contentVisible {
  opacity: 1 !important;
}

.content {
  @include container;
  @include flexCenter;

  justify-content: space-between;
  gap: 1rem;

  color: $text-light-gray;
  position: absolute;
  @include center;

  width: 100%;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.25s;

  & .detail {
    flex: 0 0 50%;

    & .title {
      font-size: 3.6rem;
      margin-bottom: 1rem;
    }

    & .overview {
      font-size: 2rem;
      margin-bottom: 3rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & .actions {
      display: flex;
      gap: 1rem;

      & .button {
        transition: all 0.5s ease-in-out;
        &:hover {
          transform: translateY(-0.5rem);
        }
        &__watchNow {
          background-color: rgb(255, 0, 0);
          box-shadow: $shadow-glow;
        }
      }
    }
  }

  & .poster {
    flex: 1;

    & img {
      border-radius: 1rem;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
      width: auto;
    }
  }
}
