// Colors
$black: #191624;

// Text Colors
$text-light-gray: #f1efee;
$text-primary: #fafafa;
$text-secondary: #efefef;
$text-nav: #bebebe;

// Background Colors
$bg-main: #fefefe;
$bg-secondary: #f0f0f0;
$bg-black-overlay: rgba(0, 0, 0, 0.3);

// Box Shadows
$shadow-glow: 0 0 18px rgb(255, 0, 0, 0.7);
$shadow-glow-light: 0 0 24px rgb(255, 0, 0, 0.5);

// Font Families
$font-nunito: "Nunito", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-roboto-condensed: "Roboto Condensed", sans-serif;
